[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
check-manifest = ">=0.25"

[packages]
#invenio-app-rdm = {extras = ["postgresql", "elasticsearch7", "s3"], version = "==9.0.0"}
invenio-app-rdm = {git = "git@github.com:materialscloud-org/invenio-app-rdm.git", editable = true, ref = "develop", extras = ["postgresql", "elasticsearch7", "s3"]}
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
invenio-s3 = "==1.0.5"
sentry-sdk = "==1.9.0"

[requires]
python_version = "3.8"

[pipenv]
# Needed for invenio>v3.5.0a4 and invenio-communities
allow_prereleases = true
